###menu.lst example file###
     
## For how long should GRUB wait until it chooses the default boot option:
timeout 10
     
## Chose the color scheme that GRUB will use in text mode:
color black/cyan yellow/cyan
     
## Enable the graphical mode (note that in this case (hd0,3) is the root partition, it means sda4 in GRUB language) can be another one, see what's your root partition with 'mount' command or 'drakdisk':
gfxmenu (hd0,3)/boot/gfxmenu
     
## What's the default Operating System that you want to start:
default 0
     
## Default Mandriva entry, it may be different from yours:
title linux
kernel (hd0,1)/boot/vmlinuz BOOT_IMAGE=linux root=UUID=cf1d7bd9-c410-42e5-b340-5e28f2h56539 resume=UUID=2143d3a6-1a7a-4463-bb17-ce00ad052908 splash=silent vga=788
initrd (hd0,1)/boot/initrd.img
   
title linux-nonfb
kernel (hd0,1)/boot/vmlinuz
initrd (hd0,1)/boot/initrd.img
     
title failsafe
kernel (hd0,1)/boot/vmlinuz failsafe
initrd (hd0,1)/boot/initrd.img
     
## If you have Windows installed, it's entry should look like this:
title windows
root (hd0,0)
makeactive
chainloader +1


